@use './libraries/wp-amjl-iconfont';

/* ------------------------------------------------------------
|                     ICON BLOCK STYLES                       |
 ------------------------------------------------------------ */

/* ----------- MODAL STYLES ------------- */
.components-modal__content {
	padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.amjl-icon-modal .components-range-control__number {
	display: none !important;
}

.amjl-icon-modal .amjl-filter-panel--mobile {
	display: none;
}

/* Modal Styles Mobile */
@media (max-width: 782px) {
	.amjl-icon-modal .amjl-filter-panel--mobile {
		display: block;
		padding: 12px;
		border-top: 1px solid #eee;
		background: #fff;
		position: sticky;
		top: 44px; /* height of tabs */
		z-index: 15;
	}
}

/* ----------- ALIGN STYLES ----------- */
.wp-block-amjl-icon {
	text-align: inherit;
}

.wp-block-amjl-icon.alignleft {
	text-align: left;
}

.wp-block-amjl-icon.aligncenter {
	text-align: center;
}

.wp-block-amjl-icon.alignright {
	text-align: right;
}

.wp-block-amjl-icon i {
	display: inline-block;
}
